html, body {
    height: 100%;
    width: 100%;
}
.hero-image {
    background: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    top: 65px;
    left: 1%;
    right: 1%;
    position: absolute;
    overflow: hidden;
    filter: blur(5px);
}
.hero-text {
    position: relative;
    z-index: 1;
    text-align: left;
    top: 60px;
    left: 51%;
    transform: translate(-50%, -5%);
}
h2 {
    font-weight: bold;
    text-decoration: underline;
    color: #6375ff;
}
dl, p, h1, h3, strong {
    color: #6375ff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:chocolate;
     }

    li {
    float: left;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     }

    li a:hover {
    background-color:coral;
    }

    .active {
    background-color:darkorange;
    color: white;
    }