.hero-image {
    background: inherit;
    background-position:center;
    background-repeat: no-repeat;
    content: '';
    top: 65px;
    left: 1%;
    right: 16px;
    position: absolute;
    overflow: hidden;
    filter: blur(15px) ;
}
.hero-text {
    position: relative;
    z-index: 1;
    text-align: left;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -5%);
    color: #6375ff;
}
h2 {
    font-weight: bold;
    text-decoration: underline;
    color: #6375ff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:chocolate;
     }

    li {
    float: left;
    text-align: center;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     }

    li a:hover {
    background-color:coral;
    }

    .active {
    background-color:darkorange;
    color: white;
    }
    h2 {
        font-weight: bold;
        text-decoration: underline;
        color: #6375ff;
    }