.hero-image {
    background: inherit;
    background-position: auto;
    background-repeat: repeat;
    background-position: center;
    content: '';
    top: 65px;
    left: 1%;
    right: 16px;
    position: absolute;
    overflow: hidden;
    filter: blur(5px);
}
.hero-text {
    position: relative;
    z-index: 1;
    text-align: left;
    align-content: center;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -5%);
    color: #6375ff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:chocolate;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:coral;
}

.active {
    background-color:darkorange;
    color: white;
}
.bottom {
    background: inherit;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    left: 100%;
    right: 100%;
    position: absolute;
    overflow: hidden;
}
.bottom-text, row {
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 1;
    text-align: left;
    top: 75px;
    transform: translate(-50%, -5%);
    color: #6375ff;
}
