.hero-image {
    background: inherit;
    background-position: center;
    background-repeat: repeat;
    content: '';
    top: 70px;
    left: 20px;
    right: 20px;
    position: absolute;
    overflow: hidden;
    filter: blur(15px);
}
.hero-text {
    position: relative;
    z-index: 1;
    text-align: center;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -10%);
    color: #6375ff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:chocolate;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:coral;
}

.active {
    background-color:darkorange;
    color: white;
}
.container {
    color: #6375ff;
}
footer {
    position: relative;
    z-index: 1;
    text-align: left;
    transform: translate(-50%, -5%);
    left: 52%;
}
h1 {
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.container {
    margin-bottom: 20px;
}
.media {
    align-self: row;
}