.hero-image {
    background: inherit;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    top: 65px;
    left: 1%;
    right: 16px;
    position: absolute;
    overflow: hidden;
    filter: blur(15px);
}
.hero-text, h1, h2, p {
    position: relative;
    z-index: 1;
    text-align: left;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -5%);
    color: #6375ff;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:chocolate;
     }

    li {
    float: left;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     }

    li a:hover {
    background-color:coral;
    }

    .active {
    background-color:darkorange;
    color: white;
    }